#tag-cloud a.set-1 { font-size: 0.7em; font-weight: 100; } 
#tag-cloud a.set-2 { font-size: 0.8em; font-weight: 200; } 
#tag-cloud a.set-3 { font-size: 0.9em; font-weight: 300; } 
#tag-cloud a.set-4 { font-size: 1.0em; font-weight: 400; } 
#tag-cloud a.set-5 { font-size: 1.2em; font-weight: 500; } 
#tag-cloud a.set-6 { font-size: 1.4em; font-weight: 600; } 
#tag-cloud a.set-7 { font-size: 1.6em; font-weight: 700; } 
#tag-cloud a.set-8 { font-size: 1.8em; font-weight: 800; } 
#tag-cloud a.set-9 { font-size: 2.2em; font-weight: 900; } 
#tag-cloud a.set-10 { font-size: 2.5em; font-weight: 900; }
